{
    "debug": false,
    "logger": false,

    "loader": {
        "controllers": ["./controllers"],
        "use_default_controller": true,
        "models": ["./models"]
    },

    "mongo": {
        "host": "localhost",
        "port": 27017,
        "name": "entropy"
    },

    "server": {
        "addr": "localhost",
        "port": 3000
    }
}
